/* === Mixins, Variables and General === */ /* === Fonts === */
/* === /Fonts === */
/* === Colors === */
/* === /Colors === */
/* === Resets === */
/* === /Resets === */
/* === Text === */
/* === /Text === */
/* === Positioning === */
/* === /Positioning === */
.index-html {
  height: 100%;
}

.index-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #F2F1ED;
}

.index-main {
  flex: 1 0 auto;
}

.index-footer {
  flex: 0 0 auto;
  background-color: red;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.transition-none {
  transition: none;
}

/* === /Mixins and Variables === */
/* === Blocks === */
/* Common */
.slider {
  max-width: 80%;
  border: 2px solid black;
  margin: 30px auto;
  overflow: hidden;
}
.slider__line {
  background-color: green;
  display: flex;
  transition: all ease 1s;
}
.slider__control-track {
  height: 2px;
  background-color: #D1CDBB;
}
.slider__control-item {
  transform: translateY(-25%);
  height: 5px;
  width: 33%;
  background-color: #D1CDBB;
}

.blog-article {
  display: flex;
  justify-content: space-evenly;
}
.blog-article__img-wrapper {
  max-width: 50%;
  margin-right: 20px;
}
.blog-article__img {
  max-width: 100%;
  height: auto;
}
.blog-article__descr-wrapper {
  max-width: 50%;
  margin-left: 20px;
  align-self: center;
}
.blog-article__text-wrapper {
  max-width: 420px;
}

/* /Common */
/* Header */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
.header__logo-wrapper {
  max-width: 137px;
  margin-right: 40px;
}
.header__nav {
  max-width: 700px;
  margin-right: 40px;
}
.header__links {
  max-width: 200px;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.main-nav__item {
  margin-right: 40px;
}
.main-nav__item:last-child {
  margin-right: 0;
}
.main-nav__item_new {
  background-color: #EE1F1F;
}
.main-nav__link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #403B3B;
  padding: 10px 0;
}

.customer-links__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.customer-links__item {
  margin-right: 30px;
}
.customer-links__item:last-child {
  margin-right: 0;
}
.customer-links__link {
  position: relative;
}
.customer-links__counter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -25%;
  right: -5px;
  width: 18px;
  height: 18px;
  background-color: #EE1F1F;
  border-radius: 50%;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

/* /Header */
/* Main */
.intro__container {
  padding-top: 90px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__logo-wrapper {
  margin-bottom: 60px;
}
.intro__logo {
  max-width: 100%;
  height: auto;
}
.intro__pictures-wrapper {
  display: flex;
  margin-bottom: 50px;
}
.intro__img-wrapper_big {
  position: relative;
  margin: 0 15px;
}
.intro__img-wrapper_big::before {
  position: absolute;
  top: -27px;
  right: -35px;
  z-index: -1;
  content: "";
  display: block;
  width: 60px;
  height: 55px;
  background-image: url(../img/heart-bg.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.intro__img-wrapper_big::after {
  position: absolute;
  bottom: -27px;
  left: -35px;
  z-index: -1;
  content: "";
  display: block;
  width: 60px;
  height: 55px;
  background-image: url(../img/heart-bg.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.intro__img-wrapper:first-child {
  align-self: start;
}
.intro__img-wrapper:last-child {
  align-self: end;
}
.intro__img {
  max-width: 100%;
  height: auto;
}
.intro__title {
  font-family: "Roboto Condensed", sans-serif;
  color: #403B3B;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 5px;
}
.intro__descr {
  font-family: "Roboto Condensed", sans-serif;
  color: #403B3B;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}

.promo__container {
  padding-top: 130px;
  padding-bottom: 100px;
}
.promo__title {
  font-family: "Roboto Condensed", sans-serif;
  color: #403B3B;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  margin-top: 0;
  margin-bottom: 120px;
}
.promo__catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 13px;
  margin-bottom: 70px;
}
.promo__expand {
  display: block;
  margin: 0 auto;
  padding-right: 50px;
  border: none;
  background-color: transparent;
  background-image: url(../icons/expand-icon.svg);
  background-repeat: no-repeat;
  background-position: 100% center;
  font-family: "Roboto", sans-serif;
  color: #403B3B;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
}

.catalog-card {
  position: relative;
  max-width: 290px;
}
.catalog-card__img-wrapper {
  margin-bottom: 13px;
}
.catalog-card__img-wrapper::after {
  content: "-20%";
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 40px;
  height: 45px;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  color: #403B3B;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}
.catalog-card__img {
  max-width: 100%;
  height: auto;
}
.catalog-card__title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
}
.catalog-card__price-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.catalog-card__price {
  font-family: "Roboto", sans-serif;
  opacity: 0.9;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #403B3B;
  margin-right: 15px;
}
.catalog-card__price_old {
  color: #9E9A89;
  text-decoration: line-through;
}
.catalog-card__favourite {
  width: 23px;
  height: 20px;
  border: none;
  position: absolute;
  bottom: 27px;
  right: 0;
  background-color: transparent;
  background-image: url("../icons/heart-icon.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.about__container {
  padding-top: 130px;
  padding-bottom: 100px;
}
.about__title {
  font-family: "Roboto Condensed", sans-serif;
  color: #403B3B;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  margin-top: 0;
  max-width: 850px;
}
.about__main-wrapper {
  display: flex;
  justify-content: space-between;
}
.about__content-wrapper {
  display: flex;
  flex-direction: column;
}
.about__content-wrapper:first-child {
  margin-right: 20px;
  max-width: 500px;
}
.about__content-wrapper:last-child {
  max-width: 610px;
  min-width: 50%;
}
.about__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.about__img-wrapper_1 {
  margin-top: 90px;
}
.about__img-wrapper_2 {
  margin-top: 60px;
}
.about__img-wrapper_3 {
  margin-top: 70px;
}
.about__img {
  max-width: 100%;
  height: auto;
}

.goal__container {
  padding-top: 130px;
  padding-bottom: 100px;
}
.goal__title {
  font-family: "Roboto Condensed", sans-serif;
  color: #403B3B;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  margin-top: 0;
  margin-bottom: 120px;
}
.goal__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #403B3B;
  max-width: 450px;
  margin-left: auto;
  margin-bottom: 60px;
}
.goal__video-wrapper {
  position: relative;
  margin: 0 auto;
}
.goal__video-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  overflow: auto;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.goal__video {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
}

.subscribe__container {
  padding-top: 130px;
  padding-bottom: 100px;
}
.subscribe__title {
  font-family: "Roboto Condensed", sans-serif;
  color: #403B3B;
  font-weight: 400;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}
.subscribe__title-number {
  color: #EE1F1F;
  font-weight: 700;
}
.subscribe__descr {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #403B3B;
  text-align: center;
  margin-bottom: 120px;
}
.subscribe__form {
  margin: 0 auto;
}

.subscribe-form {
  padding: 20px;
  max-width: 600px;
}
.subscribe-form__fieldset {
  border: none;
  min-height: 180px;
}
.subscribe-form__input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.subscribe-form__label {
  min-width: 47%;
}
.subscribe-form__input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #9E9A89;
  height: 36px;
  width: 100%;
  margin-right: 10px;
  border: none;
  border-bottom: 1px solid #D1CDBB;
  background-color: transparent;
}
.subscribe-form__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #9E9A89;
}
.subscribe-form__submit {
  font-family: "Roboto", sans-serif;
  color: #F2F1ED;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 100%;
  padding: 18px 25px;
  border: none;
  background-color: #403B3B;
  margin-bottom: 20px;
  cursor: pointer;
}
.subscribe-form__agreement {
  font-family: "Roboto", sans-serif;
  color: #403B3B;
  opacity: 0.6;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.subscribe-form__agreement-link {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid rgba(64, 59, 59, 0.6);
}

.gallery__container {
  padding-top: 130px;
  padding-bottom: 100px;
}
.gallery__title {
  font-family: "Roboto Condensed", sans-serif;
  color: #403B3B;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  margin-top: 0;
  text-align: center;
  margin-bottom: 40px;
}
.gallery__icon-wrapper {
  text-align: center;
  margin-bottom: 90px;
}
.gallery__cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 13px;
}
.gallery__card-img {
  max-width: 100%;
  height: auto;
}

.gift__container {
  padding-top: 130px;
  padding-bottom: 100px;
  background-color: pink;
}
.gift__title {
  font-family: "Roboto Condensed", sans-serif;
  color: #403B3B;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  margin-top: 0;
  margin-bottom: 120px;
}
.gift__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #403B3B;
  max-width: 600px;
  margin-bottom: 60px;
}

.blog-preview__container {
  padding-top: 130px;
  padding-bottom: 100px;
}

/* /Main */
/* === /Blocks === */