/* === Fonts === */

$font-general: 'Roboto', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;

/* === /Fonts === */

/* === Colors === */

$bg-color-main: #F2F1ED;
$bg-color-sale-sticker: #FFFFFF;
$text-color-dark: #403B3B;
$text-color-light: #FFFFFF;
$alarm-color: #EE1F1F;
$price-color-old: #9E9A89;

/* === /Colors === */
