.about {
    &__container {
        @include section-gap;
    }
    &__title {
        @include title-general;
        max-width: 850px;
    }
    &__main-wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__content-wrapper {
        display: flex;
        flex-direction: column;
        &:first-child {
            margin-right: 20px;
            max-width: 500px;
        }
        &:last-child {
            max-width: 610px;
            min-width: 50%;
        }
    }
    &__text {
        @include text-general;
    }
    &__img-wrapper {
        &_1 {margin-top: 90px;}
        &_2 {margin-top: 60px;}
        &_3 {margin-top: 70px;}
    }
    &__img {
        max-width: 100%;
        height: auto;
    }
}