.catalog-card {
    position: relative;
    max-width: 290px;
    &__img-wrapper {
        margin-bottom: 13px;
        &::after {
            content: '-20%';
            position: absolute;
            top: 0;
            right: 20px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 40px;
            height: 45px;
            background-color: $bg-color-sale-sticker;
            font-family: $font-general;
            color: $text-color-dark;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
        }
    }
    &__img {
        max-width: 100%;
        height: auto;
    }
    &__title {
        font-family: $font-secondary;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 5px;
    }
    &__price-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    &__price {
        @include price-general;

        color: $text-color-dark;
        margin-right: 15px;
        &_old {
            color: $price-color-old;
            text-decoration: line-through;
        }
    }
    &__favourite {
        width: 23px;
        height: 20px;
        border: none;
        position: absolute;
        bottom: 27px;
        right: 0;
        background-color: transparent;
        background-image: url('../icons/heart-icon.svg');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}